

/* inner */
.inner{
  padding-left: 2.5em;
  padding-right: 2.5em;
}

/* blind */

.blind{
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  margin: -1px;
}

/* search */
input[type=search] {
  -webkit-appearance: none;
}


.marquee {
  z-index: 1;
  width: 100%;
  height: 100%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
  position: relative;
  /* overflow: hidden; */
}


.btn-explore{
  color: #fff;
  border-radius: 100em;
  justify-content: center;
  align-items: center;
  padding: 14px 24px 16px;
  font-size: 16px;
  line-height: 1.3;
  display: flex;
  background-color: #1d1d1d;
  transition: 0.3s;
}
.btn-explore .wrap{
  position: relative;
  overflow: hidden;
}
.btn-explore .line{display: block;
  transition: 0.3s;
}
.btn-explore .line:last-child{
  position: absolute;
  top: 100%;
  left: 0;
}
.btn-explore:hover {
  transform: scale(1.05);
}
.btn-explore:hover .line{
  transform: translateY(-100%);
}


.btn-white{
  background-color: #fff;
  color: #000;
}

.btn-menu{
  z-index: 0;
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
  border-radius: 100em;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  width: 56px;
  height: 56px;
  gap: 4.8px;
  cursor: pointer;
  border-radius: 100em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  transition: 0.3s;
}

.btn-menu:hover{
  transform: scale(1.05);
}

.title-wrap{
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
  display: flex;
}
.title-wrap .title-box{
  display: flex;
}
.title-wrap .title-box .title{
  letter-spacing: -.03em;
  font-family: Wulkandisplay,sans-serif;
  font-size: 70px;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 40px;
}
.title-wrap .title-box .numb{
  letter-spacing: -.03em;
  font-family: Wulkandisplay,sans-serif;
  font-size: 1.25em;
  font-weight: 500;
}

.title-wrap .btn-explore{
  cursor: pointer;
}

.edit-item{
  position: relative;
}


.edit-item .desc-box{
  z-index: 2;
  color: #fff;
  justify-content: flex-start;
  align-items: center;
  font-size: .875em;
  display: flex;
  position: absolute;
  bottom: 1em;
  left: 1.25em;
}
.desc-box .desc{
  font-size: 1.125em;
  line-height: 1.2;
}
.edit-item .btn-more{
  width: 3em;
  height: 2em;
  text-align: center;
  color: #fff;
  border-radius: 100em;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 1em;
  right: 1.25em;
  justify-content: center;
  align-items: center;
  display: flex;
}
.desc-box .btn-more .arrow{
  
}
.edit-item .btn-more .bd{
  width: 100%;
  height: 100%;
  border: 1px solid #fff;
  border-radius: 100em;
  position: absolute;
}

section.slide-list{
  z-index: 1;
  position: relative;
  padding: 6.25em 0;
}

.slide-list .column-grid{}

.slide-list .column-grid:nth-child(1){}


.slide-list .column-grid strong{
  color: #757575;
  letter-spacing: -.02em;
  text-transform: uppercase;
  font-size: .875em;
}

.t-line{
  position: absolute;
  top: 0;left: 0;
  width: 100%;
  height: 1px;
  background-color: #8a8a8a;
}


.t-line::before{
  position: absolute;
  top: 0;left: 0;
  width: 0%;
  height: 1px;
  background: #000;
  transition: 1s;
  content: '';
}



.sc-hotels .column-grid strong:nth-child(1){
  padding-left: 16px;
}


.column-grid{
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1.25fr;
  grid-auto-columns: 1fr;
  grid-row-gap: 1em;
  grid-column-gap: 1em;
  align-items: center;
  grid-template-rows: auto;
  }

  .left-item{
    justify-content: flex-start;
    align-items: center;
    display: flex;
    overflow: hidden;
  }

  .small-text{
    letter-spacing: -.02em;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 300;
    line-height: 1;
  }

  .fact-list{
    width: 100%;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-rows: auto;
    grid-template-columns: max-content max-content max-content;
    grid-auto-columns: 1fr;
    align-content: start;
    justify-content: start;
    align-items: center;
    justify-items: start;
    display: grid;
  }

  .fact-item{
    white-space: nowrap;
    border: 1px solid #1d1d1d;
    border-radius: 100em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 14px;
    font-size: 12px;
    line-height: 2;
  }


  .bd-white{
    border-color: #fff;
    padding-bottom: 4.4px;
  }



  .link-text {
    letter-spacing: 0.32;
    text-transform: uppercase;
    cursor: pointer;
    line-height: 1.2;
    position: relative;
}



  .link-text::before {
    content: "";
    position: absolute;
    left: 45%;
    bottom:-60%;
    width: 6.4px;
    height: 6.4px;
    border-radius: 100%;
    background: #fff;
    transform-origin: center center;
    transform: scale(0);
    transition: transform 0.2s;
    transition-timing-function: ease-in;
}

.link-text:hover::before {
  transform: scale(1);
}

.gold{
  color: #b7864c;
}